$color-primary: #55c57a;
$color-primary-dark: #1e8641;
$color-primary-light: #7dd56f;
$color-white: #fff;
$color-light: rgb(247, 247, 247);
$color-black: #000;
$color-grey: #777;
$color-dark: #444;
$section-rotate: 9vw;
