*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px

  @include respond(1800) {
    font-size: 75%;
  }

  @include respond(1100) {
    font-size: 56.25%;
  }

  @include respond(900) {
    font-size: 50%;
  }

  @include respond(600) {
    font-size: 43.75%;
  }
}

body {
  box-sizing: border-box;
  line-height: 1.6;
  color: $color-grey;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-light;
}

.main {
  position: relative;
  flex: 1 1 auto;
}

.d-inline-block {
  display: inline-block !important;
}

.mb-lg {
  margin-bottom: 3.5rem !important;
}

.floated-right {
  float: right !important;
}

.font-w-normal {
  font-weight: 400 !important;
}

.font-s-small {
  font-size: 1.5rem !important;
}

%customHeading {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.1rem;
  background-image: linear-gradient(
    to right,
    lighten($color-primary, 10),
    $color-primary-dark
  );
  background-clip: text;
  color: transparent;
  text-shadow: 2rem 0 1rem rgba($color-black, 0.1);
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

mark {
  background-color: $color-grey;
  color: $color-white;
  padding: 0 5px;
}

.alignItems-base {
  align-items: baseline !important;
}

.ui.fluid.search .results {
  width: 150%;
}

.ui.selection .item > span {
  font-size: 1.4rem;
  font-weight: 300;
}

.ui.labeled.icon.button > .icon {
  background-color: transparent;
}

.ui.avatar.image {
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.4em;
}

.ui.search .results {
  max-height: 65vh;
  overflow-y: auto;
}

.ui.attached.tabular.menu > a.item {
  font-size: 1.3rem;
}

.ui.toggle.checkbox input:focus:checked ~ label:before,
.ui.toggle.checkbox input:checked ~ label:before {
  background-color: $color-primary !important;
}

.dropzone:focus {
  outline: none;
}
