*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  box-sizing: border-box;
  line-height: 1.6;
  color: $color-grey;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-light;
}

.main {
  flex: 1 1 auto;
}

.d-inline-block {
  display: inline-block !important;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
