*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  box-sizing: border-box;
  line-height: 1.6;
  color: $color-grey;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-light;
}

.main {
  position: relative;
  flex: 1 1 auto;
}

.d-inline-block {
  display: inline-block !important;
}

.mb-lg {
  margin-bottom: 3.5rem !important;
}

.font-w-normal {
  font-weight: 400 !important;
}

.font-s-small {
  font-size: 1.5rem !important;
}

%customHeading {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(
    to right,
    lighten($color-primary, 10),
    $color-primary-dark
  );
  background-clip: text;
  color: transparent;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

.ui.fluid.search .results {
  width: 150%;
}

.ui.avatar.image {
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.4em;
}

.ui.search .results {
  max-height: 65vh;
  overflow-y: auto;
}

.dropzone:focus {
  outline: none;
}
