.custom-form {
  &-box {
    margin: 10rem auto 5rem;
    max-width: 55rem;
    padding: 5rem 7rem;
    background-color: $color-white;
    border-radius: 5px;
    box-shadow: 0 2.5rem 8rem 2rem rgba($color-black, 0.06);
  }

  & > .ui.container > .ui.header {
    @extend %customHeading;

    &.large {
      margin-bottom: 5rem;
    }
  }

  & .ui.form .field {
    margin-bottom: 2rem;

    & > .field {
      margin-bottom: 0;
    }

    & > label {
      color: $color-grey;
      font-size: 1.6rem;
    }

    & > input,
    & .ui.selection {
      font-family: inherit;
      color: inherit;
      font-size: 1.5rem;
      border: none;
      padding: 1.25rem 1.75rem;
      display: block;
      background-color: darken($color-light, 3);
      border-radius: 5px;
    }
  }
}

.settings-form {
  & .ui.form .field {
    & > input {
      width: 50%;
    }
  }
}
