.notFound-page {
  margin: 9vh 0;

  & > .ui.grid {
    & > .row {
      & > .column:last-child {
        @include respond(600) {
          order: 1;
        }

        & > .ui.header:first-child {
          font-size: 7em;
          text-shadow: 2rem 0 1rem rgba($color-black, 0.1);
        }

        & > .ui.header:last-of-type {
          color: $color-grey;
          font-weight: 400;
          padding: 0 5rem;
          line-height: 1.6;
          margin-bottom: 2rem;
        }
      }

      & > .column:first-child {
        @include respond(600) {
          order: 2;
        }
      }
    }
  }
}
