.heading-tertiary {
  line-height: 1.6;
  color: $color-white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.75rem;
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 70%;
  z-index: 10;

  & > span {
    padding: 1rem 1.5rem;
    line-height: 1;
    box-decoration-break: clone;
  }
}
